.arturo-item::after{
    content: 'This is from External File';
    display: block;
    font-size: 50px;
    font-weight: bold;
    color: red;
    background: black;
    padding: 50px;
    text-align: center;
}
